Repository ChusoAndKino-Limited/POO-2023-LIS, pull requests merged in 2023-09, with the labels that each got.

#7 Docs(project-definition): :memo: Add documentation about software design patterns
  Documentation/Proyect Definition/sw design patterns research.md
  Meeting logs/readme.md
  README.md
Labels: documentation

#6 Docs(project-definition): :memo: add a report about initial ideas of the project
  Documentation/Proyect Definition/Initial Ideas.md
  Documentation/Proyect Definition/assets/Initial_Ideas/Whiteboard.png
Labels: documentation, good first issue

#15 Docs(meeting-logs): :memo: add meeting log #1
  Meeting logs/meeting-log-01_09.11.2023.md
Labels: documentation

#18 docs: 📝 add a meeting log #02
  Meeting logs/log meeting #2.md
Labels: documentation, meeting-log

#17 Docs: :memo: add meeting log #00 and Facthory Method research
  Documentation/Proyect Definition/FACTORY METHOD.md
  Meeting logs/meeting-log-00_09.18.2023.md
Labels: documentation

#26 docs: 📝 add an example of application
  Documentation/Proyect Definition/example of application.md
  Meeting logs/meeting-log-02_09.16.2023.md
Labels: documentation

#27 docs: 📝 Add meeting log #3
  Meeting logs/meeting-log-03_09.20.2023.md
Labels: documentation, meeting-log

#33 Docs: :memo: Add process description and process management files
  Process Description.md
  Process Management.md
Labels: documentation

#36 Docs: :memo: Documentation of products and competencies.
  Documentation/ Competencies /Competencies.md
  Documentation/Product /Product description.md
  Documentation/Product /Value Proposition.md
Labels: documentation

#37 Add User Stories and Use Cases Diagram
  Documentation/Design/Use Cases Diagram.png
  Documentation/Design/User stories.md
Labels: documentation

#38 Chore(Documentation): :adhesive_bandage: fix problems with folder names
  Documentation/Competencies/Competencies.md
  Documentation/Product/Product_description.md
  Documentation/Product/Value_Proposition.md
Labels: bug, documentation
